@import url(common.css);
:root {
  --color-primary: #00dfa2;
}

main header .head .square {
  background: var(--color-primary);
}
main section.banner {
  display: flex;
  position: relative;
  margin: calc(8 * var(--basic-size)) 0;
}
main section.banner h1 {
  position: absolute;
  top: calc(5 * var(--basic-size));
  left: 0;
  width: 100%;
  font-family: var(--font-Silkscreen);
  text-align: center;
  text-shadow: calc(var(--basic-size)) calc(-1 * var(--basic-size)) calc(var(--basic-size)) rgba(0, 0, 0, 0.3);
  font-size: calc(2 * var(--font-size));
  line-height: calc(5 * var(--font-size));
}
main section.banner h1 p {
  padding: 0 20%;
}
main section.banner h1 p.line2 {
  text-align: right;
}
main section.banner .block {
  width: auto;
  height: auto;
}
main section.banner .left {
  flex: 1;
  flex-direction: column;
}
main section.banner .left .title {
  height: calc(28 * var(--basic-size));
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
main section.banner .left .title p {
  font-size: calc(1.5 * var(--font-size));
  line-height: calc(2 * var(--font-size));
  font-family: var(--font-Acme);
}
main section.banner .left .block {
  height: calc(28 * var(--basic-size));
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.banner .left .block .radius {
  border-radius: calc(1 * var(--basic-size));
  background: var(--color-white);
  padding: calc(1 * var(--basic-size)) calc(1 * var(--basic-size));
  margin-bottom: calc(1 * var(--basic-size));
}
main section.banner .left .block p {
  font-size: calc(1.2 * var(--font-size));
  line-height: calc(1.4 * var(--font-size));
  color: var(--color-black);
  white-space: no-wrap;
}
main section.banner .right {
  flex: 1;
  height: calc(84 * var(--basic-size));
  background: var(--color-primary);
}
main section.banner .right .title {
  height: calc(28 * var(--basic-size));
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
main section.banner .right .title p {
  font-size: calc(1.5 * var(--font-size));
  line-height: calc(2 * var(--font-size));
  font-family: var(--font-Acme);
}
main section.banner .right .title p a {
  color: var(--color-white);
}
main section.banner .right .chunk {
  display: flex;
}
main section.banner .right .chunk .block {
  height: calc(28 * var(--basic-size));
  width: 80%;
  background: var(--color-white);
}
main section.banner .right .menu {
  height: calc(28 * var(--basic-size));
}
main section.navs {
  padding: 0 calc(2 * var(--basic-size));
  margin-bottom: calc(10 * var(--basic-size));
}
main section.navs ul li {
  display: flex;
}
main section.navs ul li .item {
  width: 75%;
  border: 3px solid var(--color-primary);
  display: flex;
  border-radius: calc(2.3 * var(--basic-size));
  align-items: center;
}
main section.navs ul li .circle {
  width: calc(4 * var(--basic-size));
  height: calc(4 * var(--basic-size));
  border: 3px solid var(--color-primary);
  border-radius: calc(3 * var(--basic-size));
  background: var(--color-primary);
}
main section.navs ul li a {
  font-size: calc(2 * var(--font-size));
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
main section.navs ul li a:hover {
  text-decoration: none;
  color: #808080;
}
main section.navs .row.row1 {
  margin-bottom: calc(13 * var(--basic-size));
}
main section.navs .row.row1 ul {
  transform: rotate(-5deg);
}
main section.navs .row.row1 li .item {
  padding-right: calc(2 * var(--basic-size));
}
main section.navs .row.row1 li .item:hover {
  transition: 1s;
  transform: translateX(-5%);
}
main section.navs .row.row1 li.line2 {
  justify-content: center;
}
main section.navs .row.row1 li.line3 {
  justify-content: flex-end;
}
main section.navs .row.row1 .circle {
  margin-left: -5px;
  margin-right: calc(2 * var(--basic-size));
}
main section.navs .row.row2 ul {
  transform: rotate(5deg);
}
main section.navs .row.row2 li .item {
  justify-content: space-between;
  padding-left: calc(2 * var(--basic-size));
}
main section.navs .row.row2 li .item:hover {
  transition: 1s;
  transform: translateX(5%);
}
main section.navs .row.row2 li.line1 {
  justify-content: flex-end;
}
main section.navs .row.row2 li.line2 {
  justify-content: center;
}
main section.navs .row.row2 .circle {
  margin-right: -5px;
  margin-left: calc(2 * var(--basic-size));
}
main section.chapter {
  margin-top: calc(15 * var(--basic-size));
  position: relative;
}
main section.chapter .title {
  position: absolute;
}
main section.chapter .title p {
  opacity: 0.4;
}
main section.chapter.chapter1, main section.chapter.chapter2, main section.chapter.chapter3, main section.chapter.chapter4, main section.chapter.chapter5, main section.chapter.chapter6 {
  padding: 0 calc(2 * var(--basic-size));
}
main section.chapter.chapter1 article, main section.chapter.chapter2 article, main section.chapter.chapter3 article, main section.chapter.chapter4 article, main section.chapter.chapter5 article, main section.chapter.chapter6 article {
  width: 100%;
}
main section.chapter.chapter1 article p, main section.chapter.chapter2 article p, main section.chapter.chapter3 article p, main section.chapter.chapter4 article p, main section.chapter.chapter5 article p, main section.chapter.chapter6 article p {
  font-size: calc(1.25 * var(--font-size));
  line-height: calc(1.75 * var(--font-size));
}
main section.chapter.chapter1 article .bg, main section.chapter.chapter2 article .bg, main section.chapter.chapter3 article .bg, main section.chapter.chapter4 article .bg, main section.chapter.chapter5 article .bg, main section.chapter.chapter6 article .bg {
  position: absolute;
  z-index: -1;
  background: var(--color-primary);
  opacity: 0.4;
}
main section.chapter.chapter1 article {
  position: relative;
}
main section.chapter.chapter1 article p {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  padding-top: calc(12 * var(--basic-size));
}
main section.chapter.chapter1 article .bg {
  bottom: calc(-2 * var(--basic-size));
  right: calc(0 * var(--basic-size));
  width: calc(25 * var(--font-size));
  height: calc(25 * var(--font-size));
}
main section.chapter.chapter1 .title {
  top: calc(-2 * var(--basic-size));
  right: calc(2 * var(--basic-size));
  width: 80%;
  transform: rotate(8deg);
}
main section.chapter.chapter1 .title p {
  color: var(--color-primary);
  font-family: var(--font-Libre-Bodoni);
  font-size: calc(3 * var(--font-size));
  line-height: calc(3.5 * var(--font-size));
  text-shadow: calc(-6 * var(--basic-size)) calc(-2 * var(--basic-size)) calc(var(--basic-size)) rgba(0, 0, 0, 0.3);
}
main section.chapter.chapter1 .title .right {
  text-align: right;
}
main section.chapter.chapter2 article {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  font-size: calc(1.25 * var(--font-size));
  line-height: calc(1.75 * var(--font-size));
}
main section.chapter.chapter2 .title {
  width: 100%;
  position: relative;
  margin: calc(8 * var(--font-size)) 0;
}
main section.chapter.chapter2 .title p {
  color: #808080;
  font-family: var(--font-Pacifico);
  font-size: calc(2.8 * var(--font-size));
  text-shadow: calc(1 * var(--basic-size)) calc(2 * var(--basic-size)) calc(var(--basic-size)) rgba(0, 223, 162, 0.6);
  text-align: center;
}
main section.chapter.chapter2 .title .bg {
  position: absolute;
  width: calc(6 * var(--font-size));
  height: calc(6 * var(--font-size));
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: var(--color-primary);
  z-index: -1;
  opacity: 0.4;
}
main section.chapter.chapter3 article {
  position: relative;
}
main section.chapter.chapter3 article p {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  padding-top: calc(12 * var(--basic-size));
}
main section.chapter.chapter3 article .bg {
  bottom: calc(-4 * var(--basic-size));
  right: calc(0 * var(--basic-size));
  width: calc(20 * var(--font-size));
  height: calc(20 * var(--font-size));
}
main section.chapter.chapter3 .title {
  top: calc(-1 * var(--basic-size));
  left: calc(6 * var(--basic-size));
  width: 80%;
  transform: rotate(-5deg);
}
main section.chapter.chapter3 .title p {
  color: var(--color-primary);
  font-family: var(--font-Libre-Bodoni);
  font-size: calc(3 * var(--font-size));
  line-height: calc(3.5 * var(--font-size));
  text-shadow: calc(-3 * var(--basic-size)) calc(-2 * var(--basic-size)) calc(var(--basic-size)) rgba(0, 0, 0, 0.3);
}
main section.chapter.chapter4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main section.chapter.chapter4 .title {
  position: relative;
  transform: rotate(3deg);
  width: 90%;
}
main section.chapter.chapter4 .title p {
  font-size: calc(3 * var(--font-size));
  line-height: calc(3.5 * var(--font-size));
  color: #bababa;
  font-family: var(--font-Pacifico);
  text-shadow: calc(1 * var(--basic-size)) calc(-2 * var(--basic-size)) calc(var(--basic-size)) rgba(0, 223, 162, 0.6);
}
main section.chapter.chapter4 article {
  padding-top: calc(6 * var(--basic-size));
  width: 90% !important;
}
main section.chapter.chapter4 article p {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  text-align: right;
}
main section.chapter.chapter5 {
  padding-top: calc(12 * var(--basic-size));
  margin-top: calc(25 * var(--basic-size));
}
main section.chapter.chapter5 article {
  position: relative;
}
main section.chapter.chapter5 article p {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
}
main section.chapter.chapter5 article .bg {
  bottom: calc(-4 * var(--basic-size));
  right: calc(0 * var(--basic-size));
  width: calc(20 * var(--font-size));
  height: calc(20 * var(--font-size));
}
main section.chapter.chapter5 article .bg2 {
  position: absolute;
  left: calc(0 * var(--basic-size));
  top: calc(0 * var(--basic-size));
  width: calc(2 * var(--font-size));
  height: calc(2 * var(--font-size));
  z-index: -1;
  background: var(--color-primary);
  opacity: 0.4;
}
main section.chapter.chapter5 .title {
  top: calc(-1 * var(--basic-size));
  left: calc(6 * var(--basic-size));
  width: 80%;
  transform: rotate(-5deg);
}
main section.chapter.chapter5 .title p {
  color: var(--color-primary);
  font-family: var(--font-Libre-Bodoni);
  font-size: calc(3 * var(--font-size));
  line-height: calc(3.5 * var(--font-size));
  text-shadow: calc(-3 * var(--basic-size)) calc(-2 * var(--basic-size)) calc(var(--basic-size)) rgba(0, 0, 0, 0.3);
}
main section.chapter.chapter6 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: calc(20 * var(--basic-size));
}
main section.chapter.chapter6 .title {
  position: relative;
  transform: rotate(3deg);
  width: 100%;
}
main section.chapter.chapter6 .title p {
  font-size: calc(3 * var(--font-size));
  line-height: calc(3.5 * var(--font-size));
  color: #bababa;
  font-family: var(--font-Pacifico);
  text-shadow: calc(1 * var(--basic-size)) calc(-2 * var(--basic-size)) calc(var(--basic-size)) rgba(0, 223, 162, 0.6);
  text-align: right;
}
main section.chapter.chapter6 article {
  padding-top: calc(6 * var(--basic-size));
  width: 80% !important;
}
main section.chapter.chapter6 article p {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  text-align: right;
}
main section.chapter.chapter6 ul {
  position: absolute;
  left: 10%;
  bottom: calc(-4 * var(--basic-size));
  display: flex;
}
main section.chapter.chapter6 ul li {
  width: calc(4 * var(--basic-size));
  height: calc(4 * var(--basic-size));
  background: var(--color-primary);
  transform: rotate(45deg);
}
main section.chapter.chapter6 ul li:nth-child(2) {
  margin: 0 calc(1.5 * var(--basic-size));
}

.spinner {
  --first-block-clr: var(--color-primary);
}

/* 768px */
@media screen and (min-width: 768px) {
  :root {
    --font-size: 16px;
  }
  main section.banner h1 {
    font-size: calc(3 * var(--font-size));
  }
  main section.banner .block {
    width: calc(28 * var(--basic-size));
    height: calc(28 * var(--basic-size));
  }
  main section.banner .left {
    flex: initial;
    width: calc(28 * var(--basic-size));
  }
  main section.banner .left .block {
    height: calc(28 * var(--basic-size));
  }
  main section.banner .left .block .radius {
    border-radius: calc(1 * var(--basic-size));
    background: var(--color-white);
    padding: calc(1 * var(--basic-size)) calc(2 * var(--basic-size));
    margin-bottom: calc(1 * var(--basic-size));
  }
  main section.banner .left .block p {
    font-size: calc(1.5 * var(--font-size));
    line-height: calc(1.8 * var(--font-size));
    color: var(--color-black);
    white-space: no-wrap;
  }
  main section.banner .right {
    height: calc(84 * var(--basic-size));
  }
  main section.banner .right .title {
    height: calc(28 * var(--basic-size));
  }
  main section.banner .right .chunk .block {
    width: calc(28 * var(--basic-size));
    height: calc(28 * var(--basic-size));
  }
  main section.banner .right .menu {
    height: calc(28 * var(--basic-size));
  }
  main section.banner .right .menu p a {
    font-size: calc(1.4 * var(--font-size));
    line-height: calc(1.6 * var(--font-size));
  }
  main section.navs {
    padding: 0 calc(4 * var(--basic-size));
  }
  main section.chapter {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter1, main section.chapter.chapter2, main section.chapter.chapter3, main section.chapter.chapter4, main section.chapter.chapter5, main section.chapter.chapter6 {
    padding: 0 calc(4 * var(--basic-size));
  }
  main section.chapter.chapter1 article, main section.chapter.chapter2 article, main section.chapter.chapter3 article, main section.chapter.chapter4 article, main section.chapter.chapter5 article, main section.chapter.chapter6 article {
    width: 100%;
  }
  main section.chapter.chapter1 .title {
    top: calc(-10 * var(--basic-size));
    right: calc(8 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter1 .title p {
    font-size: calc(4.5 * var(--font-size));
    line-height: calc(5.5 * var(--font-size));
  }
  main section.chapter.chapter2 .title p {
    font-size: calc(2.5 * var(--font-size));
  }
  main section.chapter.chapter2 .title .bg {
    width: calc(8 * var(--font-size));
    height: calc(8 * var(--font-size));
  }
  main section.chapter.chapter3 .title {
    top: calc(-7 * var(--basic-size));
    right: calc(8 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter3 .title p {
    font-size: calc(4.5 * var(--font-size));
    line-height: calc(5.5 * var(--font-size));
  }
  main section.chapter.chapter5 .title {
    top: calc(-16 * var(--basic-size));
    right: calc(8 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter5 .title p {
    font-size: calc(3.5 * var(--font-size));
    line-height: calc(4 * var(--font-size));
  }
}

/* 992px */
@media screen and (min-width: 992px) {
  :root {
    --font-size: 18px;
  }
  main section.banner h1 {
    font-size: calc(4 * var(--font-size));
  }
  main section.banner .block {
    width: calc(38 * var(--basic-size));
    height: calc(38 * var(--basic-size));
  }
  main section.banner .left {
    width: calc(38 * var(--basic-size));
  }
  main section.banner .left .title {
    height: calc(38 * var(--basic-size));
  }
  main section.banner .left .block {
    height: calc(38 * var(--basic-size));
  }
  main section.banner .left .block p {
    line-height: calc(2 * var(--font-size));
  }
  main section.banner .right {
    height: calc(114 * var(--basic-size));
  }
  main section.banner .right .title {
    width: 100%;
    height: calc(38 * var(--basic-size));
  }
  main section.banner .right .chunk .block {
    width: calc(38 * var(--basic-size));
    height: calc(38 * var(--basic-size));
  }
  main section.banner .right .menu {
    height: calc(38 * var(--basic-size));
  }
  main section.navs {
    padding: 0 calc(6 * var(--basic-size));
  }
  main section.chapter {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter1, main section.chapter.chapter2, main section.chapter.chapter3, main section.chapter.chapter4, main section.chapter.chapter5, main section.chapter.chapter6 {
    padding: 0 calc(4 * var(--basic-size));
  }
  main section.chapter.chapter1 article, main section.chapter.chapter2 article, main section.chapter.chapter3 article, main section.chapter.chapter4 article, main section.chapter.chapter5 article, main section.chapter.chapter6 article {
    width: 100%;
  }
  main section.chapter.chapter1 {
    margin-top: calc(30 * var(--basic-size));
  }
  main section.chapter.chapter1 article .bg {
    bottom: calc(-4 * var(--basic-size));
    right: calc(-4 * var(--basic-size));
    width: calc(20 * var(--font-size));
    height: calc(20 * var(--font-size));
  }
  main section.chapter.chapter1 .title {
    top: calc(-15 * var(--basic-size));
    right: calc(6 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter1 .title p {
    font-size: calc(5 * var(--font-size));
    line-height: calc(6 * var(--font-size));
  }
  main section.chapter.chapter2 .title p {
    font-size: calc(3.5 * var(--font-size));
  }
  main section.chapter.chapter2 .title .bg {
    width: calc(10 * var(--font-size));
    height: calc(10 * var(--font-size));
  }
  main section.chapter.chapter3 article .bg {
    bottom: calc(-4 * var(--basic-size));
    right: calc(-4 * var(--basic-size));
    width: calc(20 * var(--font-size));
    height: calc(20 * var(--font-size));
  }
  main section.chapter.chapter3 .title {
    top: calc(-11 * var(--basic-size));
    right: calc(6 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter3 .title p {
    font-size: calc(5 * var(--font-size));
    line-height: calc(6 * var(--font-size));
  }
  main section.chapter.chapter4 .title p {
    font-size: calc(3.5 * var(--font-size));
    line-height: calc(5 * var(--font-size));
  }
  main section.chapter.chapter5 {
    margin-top: calc(30 * var(--basic-size));
  }
  main section.chapter.chapter5 article .bg {
    bottom: calc(-4 * var(--basic-size));
    right: calc(-4 * var(--basic-size));
    width: calc(20 * var(--font-size));
    height: calc(20 * var(--font-size));
  }
  main section.chapter.chapter5 .title {
    top: calc(-21 * var(--basic-size));
    right: calc(6 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter5 .title p {
    font-size: calc(4 * var(--font-size));
    line-height: calc(5 * var(--font-size));
  }
  main section.chapter.chapter6 .title p {
    font-size: calc(3.5 * var(--font-size));
    line-height: calc(5 * var(--font-size));
  }
}

/* 1280px */
@media screen and (min-width: 1280px) {
  :root {
    --font-size: 20px;
  }
  main section.banner h1 {
    font-size: calc(4 * var(--font-size));
  }
  main section.banner .block {
    width: calc(48.4 * var(--basic-size));
    height: calc(48.4 * var(--basic-size));
  }
  main section.banner .left {
    width: calc(48.4 * var(--basic-size));
  }
  main section.banner .left .title {
    height: calc(48.4 * var(--basic-size));
  }
  main section.banner .left .block {
    height: calc(48.4 * var(--basic-size));
  }
  main section.banner .right {
    height: calc(145.2 * var(--basic-size));
  }
  main section.banner .right .title {
    height: calc(48.4 * var(--basic-size));
  }
  main section.banner .right .chunk .block {
    width: calc(48.4 * var(--basic-size));
    height: calc(48.4 * var(--basic-size));
  }
  main section.banner .right .menu {
    height: calc(48.4 * var(--basic-size));
  }
  main section.navs {
    padding: 0 calc(8 * var(--basic-size));
  }
  main section.navs ul li .item {
    width: 80%;
    border: 4px solid var(--color-primary);
    border-radius: calc(2.6 * var(--basic-size));
  }
  main section.navs ul li .circle {
    width: calc(4.5 * var(--basic-size));
    height: calc(4.5 * var(--basic-size));
    border: 3px solid var(--color-primary);
    border-radius: calc(3 * var(--basic-size));
  }
  main section.navs ul li a {
    font-size: calc(2 * var(--font-size));
  }
  main section.navs .row.row1 li .item {
    padding-right: calc(2 * var(--basic-size));
  }
  main section.navs .row.row1 .circle {
    margin-left: -3px;
    margin-right: calc(2 * var(--basic-size));
  }
  main section.navs .row.row2 li .item {
    padding-left: calc(2 * var(--basic-size));
  }
  main section.navs .row.row2 .circle {
    margin-right: -3px;
    margin-left: calc(2 * var(--basic-size));
  }
  main section.chapter {
    margin-top: calc(30 * var(--basic-size));
  }
  main section.chapter.chapter1 {
    margin-left: calc(12.8 * var(--basic-size));
  }
  main section.chapter.chapter1 article {
    width: 709px;
  }
  main section.chapter.chapter1 .title {
    top: calc(-7 * var(--basic-size));
    right: calc(3 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter1 .title p {
    font-size: calc(5.5 * var(--font-size));
    line-height: calc(9.65 * var(--font-size));
  }
  main section.chapter.chapter2 {
    margin-left: calc(12.8 * var(--basic-size));
  }
  main section.chapter.chapter2 article {
    width: 90%;
  }
  main section.chapter.chapter2 .title p {
    font-size: calc(4.2 * var(--font-size));
  }
  main section.chapter.chapter3 {
    margin-left: calc(12.8 * var(--basic-size));
  }
  main section.chapter.chapter3 article {
    width: 709px;
  }
  main section.chapter.chapter3 .title {
    top: calc(-22 * var(--basic-size));
    right: calc(2 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter3 .title p {
    font-size: calc(5.5 * var(--font-size));
    line-height: calc(8 * var(--font-size));
  }
  main section.chapter.chapter4 .title p {
    font-size: calc(4.5 * var(--font-size));
    line-height: calc(6 * var(--font-size));
  }
  main section.chapter.chapter5 {
    margin-left: calc(12.8 * var(--basic-size));
    margin-top: calc(40 * var(--basic-size));
  }
  main section.chapter.chapter5 article {
    width: 800px;
  }
  main section.chapter.chapter5 .title {
    top: calc(-27 * var(--basic-size));
    right: calc(2 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter5 .title p {
    font-size: calc(5 * var(--font-size));
    line-height: calc(6 * var(--font-size));
  }
  main section.chapter.chapter6 .title p {
    font-size: calc(4.5 * var(--font-size));
    line-height: calc(6 * var(--font-size));
  }
}

/* 1720px */
@media screen and (min-width: 1720px) {
  :root {
    --font-size: 24px;
  }
  main section.banner h1 {
    font-size: calc(4 * var(--font-size));
  }
  main section.banner .block {
    width: calc(60 * var(--basic-size));
    height: calc(60 * var(--basic-size));
  }
  main section.banner .left {
    width: calc(60 * var(--basic-size));
  }
  main section.banner .left .title {
    height: calc(60 * var(--basic-size));
  }
  main section.banner .left .block {
    height: calc(60 * var(--basic-size));
  }
  main section.banner .right {
    height: calc(180 * var(--basic-size));
  }
  main section.banner .right .title {
    height: calc(60 * var(--basic-size));
  }
  main section.banner .right .chunk .block {
    width: calc(60 * var(--basic-size));
    height: calc(60 * var(--basic-size));
  }
  main section.banner .right .menu {
    height: calc(60 * var(--basic-size));
  }
  main section.navs {
    padding: 0 calc(8 * var(--basic-size));
  }
  main section.navs ul li .item {
    width: 80%;
    border: 4px solid var(--color-primary);
    border-radius: calc(2.6 * var(--basic-size));
  }
  main section.navs ul li .circle {
    width: calc(4.5 * var(--basic-size));
    height: calc(4.5 * var(--basic-size));
    border: 3px solid var(--color-primary);
    border-radius: calc(3 * var(--basic-size));
  }
  main section.navs ul li a {
    font-size: calc(2 * var(--font-size));
  }
  main section.navs .row.row1 li .item {
    padding-right: calc(2 * var(--basic-size));
  }
  main section.navs .row.row1 .circle {
    margin-left: -3px;
    margin-right: calc(2 * var(--basic-size));
  }
  main section.navs .row.row2 li .item {
    padding-left: calc(2 * var(--basic-size));
  }
  main section.navs .row.row2 .circle {
    margin-right: -3px;
    margin-left: calc(2 * var(--basic-size));
  }
  main section.chapter {
    margin-top: calc(30 * var(--basic-size));
  }
  main section.chapter.chapter1 {
    margin-left: calc(12.8 * var(--basic-size));
  }
  main section.chapter.chapter1 article {
    width: 709px;
  }
  main section.chapter.chapter1 .title {
    top: calc(-7 * var(--basic-size));
    right: calc(8 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter1 .title p {
    font-size: calc(5.5 * var(--font-size));
    line-height: calc(9.65 * var(--font-size));
  }
  main section.chapter.chapter2 {
    margin-left: calc(12.8 * var(--basic-size));
  }
  main section.chapter.chapter2 article {
    width: 90%;
  }
  main section.chapter.chapter2 .title p {
    font-size: calc(4.2 * var(--font-size));
  }
  main section.chapter.chapter3 {
    margin-left: calc(12.8 * var(--basic-size));
  }
  main section.chapter.chapter3 article {
    width: 709px;
  }
  main section.chapter.chapter3 .title {
    top: calc(-21 * var(--basic-size));
    right: calc(2 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter3 .title p {
    font-size: calc(5.5 * var(--font-size));
    line-height: calc(6 * var(--font-size));
  }
  main section.chapter.chapter4 .title p {
    font-size: calc(4.5 * var(--font-size));
    line-height: calc(6 * var(--font-size));
  }
  main section.chapter.chapter5 {
    margin-left: calc(12.8 * var(--basic-size));
    margin-top: calc(50 * var(--basic-size));
  }
  main section.chapter.chapter5 article {
    width: 1000px;
  }
  main section.chapter.chapter5 .title {
    top: calc(-33 * var(--basic-size));
    right: calc(2 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter5 .title p {
    font-size: calc(5 * var(--font-size));
    line-height: calc(6 * var(--font-size));
  }
}