@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #b5b5b5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

:root {
  --color-base: #000;
  --color-black: #000;
  --background-base: #fff;
  --font-Kaushan: "Kaushan Script";
  --font-Libre-Bodoni: "Libre Bodoni";
  --font-Roboto: "Roboto";
  --font-Ubuntu: "Ubuntu";
  --font-Spirax:"Spirax";
  --font-Lato: "Lato";
  --font-Pacifico: "Pacifico";
  --base-size: 16px;
  --font-weight: 400;
  --border-size: 1px;
  --basic-size: 10px;
  --sm-font-size: 14px;
}

.dot::before {
  content: "";
  display: inline-block;
  background: var(--color-black);
  width: calc(0.8 * var(--basic-size));
  height: calc(0.8 * var(--basic-size));
  border-radius: calc(0.4 * var(--basic-size));
  margin-right: calc(1 * var(--basic-size));
  transform: translateY(calc(-1 * var(--basic-size)));
}

main {
  width: 100%;
  max-width: 100%;
  margin: 100px auto;
  background: var(--background-base);
}
main header {
  display: flex;
  justify-content: space-between;
  padding: 0 calc(2 * var(--basic-size));
}
main header p {
  font-family: var(--font-inter);
  font-size: calc(1 * var(--sm-font-size));
  line-height: calc(1.25 * var(--sm-font-size));
  font-weight: calc(1.25 * var(--font-weight));
  color: var(--color-base);
}
main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(2 * var(--basic-size));
  padding-right: calc(1 * var(--basic-size));
  margin-top: calc(5 * var(--basic-size));
}
main nav .title h2 {
  font-family: var(--font-inter);
  font-size: calc(1.8 * var(--sm-font-size));
  line-height: calc(2.2 * var(--sm-font-size));
}
main nav .title h2.dot {
  transform: translateY(calc(-1 * var(--sm-font-size)));
}
main nav .menus ul li {
  width: calc(13.5 * var(--basic-size));
  height: calc(4 * var(--basic-size));
}
main nav .menus ul li.dot::before {
  background: var(--color-base);
}
main nav .menus ul li a {
  color: var(--color-base);
  font-size: calc(1.8 * var(--sm-font-size));
  line-height: calc(2.2 * var(--sm-font-size));
}
main nav .menus ul li.right {
  text-align: right;
}
main section.title {
  margin: calc(12 * var(--base-size)) 0;
  padding: 0 calc(2 * var(--basic-size));
}
main section.title p.publish {
  font-weight: calc(1.75 * var(--font-weight));
  font-style: italic;
  color: #157a68;
  margin-bottom: calc(2 * var(--base-size));
  font-family: var(--font-Libre-Bodoni);
  font-size: calc(1.25 * var(--sm-font-size));
  line-height: calc(1.6 * var(--sm-font-size));
}
main section.title p.author {
  text-align: right;
}
main section.title p.author a {
  font-weight: calc(1.75 * var(--font-weight));
  font-style: italic;
  color: #32aef8;
  font-family: var(--font-Roboto);
  font-size: calc(1.25 * var(--sm-font-size));
  line-height: calc(1.6 * var(--sm-font-size));
}
main section.title p.left, main section.title p.right {
  font-weight: calc(1.75 * var(--font-weight));
  font-size: calc(4.5 * var(--sm-font-size));
  line-height: calc(5 * var(--sm-font-size));
}
main section.title p.right {
  text-align: right;
  margin-bottom: calc(3.5 * var(--base-size));
  font-family: --font--Spirax;
}
main section.chapters .head {
  font-weight: calc(1.25 * var(--font-weight));
  font-family: var(--font-Ubuntu);
  font-size: calc(2.25 * var(--sm-font-size));
  line-height: calc(2.5 * var(--sm-font-size));
  padding: 0 calc(2 * var(--basic-size));
}
main section.chapter {
  margin-top: calc(15 * var(--basic-size));
  position: relative;
}
main section.chapter .title {
  position: absolute;
}
main section.chapter .title p {
  opacity: 0.2;
}
main section.chapter .no {
  opacity: 0.3;
  position: absolute;
}
main section.chapter.chapter1, main section.chapter.chapter2, main section.chapter.chapter3, main section.chapter.chapter4, main section.chapter.chapter5, main section.chapter.chapter6 {
  padding: 0 calc(2 * var(--basic-size));
}
main section.chapter.chapter1 article, main section.chapter.chapter2 article, main section.chapter.chapter3 article, main section.chapter.chapter4 article, main section.chapter.chapter5 article, main section.chapter.chapter6 article {
  width: 100%;
  font-size: calc(1 * var(--base-size));
  line-height: calc(1.25 * var(--base-size));
}
main section.chapter.chapter1 article {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  padding-top: calc(12 * var(--basic-size));
}
main section.chapter.chapter1 .title {
  top: calc(0 * var(--basic-size));
  right: calc(0 * var(--basic-size));
  width: 80%;
}
main section.chapter.chapter1 .title p {
  color: #157a68;
  font-family: var(--font-Libre-Bodoni);
  font-size: calc(3 * var(--sm-font-size));
  line-height: calc(3 * var(--sm-font-size));
}
main section.chapter.chapter1 .title .right {
  text-align: right;
}
main section.chapter.chapter1 .no {
  color: #157a68;
  font-family: var(--font-Libre-Bodoni);
  font-size: calc(3 * var(--basic-size));
  bottom: calc(-2 * var(--basic-size));
  right: calc(5 * var(--basic-size));
}
main section.chapter.chapter2 article {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  padding-top: calc(3 * var(--basic-size));
}
main section.chapter.chapter2 .title {
  left: calc(2 * var(--basic-size));
  top: calc(-2 * var(--basic-size));
  width: 80%;
}
main section.chapter.chapter2 .title p {
  color: #fa5f09;
  font-family: var(--font-Pacifico);
  font-size: calc(3 * var(--sm-font-size));
  line-height: calc(3 * var(--sm-font-size));
}
main section.chapter.chapter2 .no {
  color: #fa5f09;
  font-family: var(--font-Libre-Bodoni);
  bottom: calc(-6 * var(--basic-size));
  right: calc(12 * var(--basic-size));
  font-size: calc(3 * var(--basic-size));
}
main section.chapter.chapter3 article {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  padding-top: calc(12 * var(--basic-size));
}
main section.chapter.chapter3 .title {
  bottom: calc(-6 * var(--basic-size));
  right: calc(6 * var(--basic-size));
}
main section.chapter.chapter3 .title p {
  color: #32aef8;
  font-family: var(--font-Pacifico);
  font-size: calc(3 * var(--sm-font-size));
  line-height: calc(3 * var(--sm-font-size));
}
main section.chapter.chapter3 .no {
  color: #33aff9;
  font-family: var(--font-Libre-Bodoni);
  top: calc(0 * var(--basic-size));
  left: calc(4 * var(--basic-size));
  font-size: calc(3 * var(--basic-size));
}
main section.chapter.chapter4 {
  margin-top: calc(10 * var(--basic-size));
}
main section.chapter.chapter4 article {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  color: #157a68;
  padding-top: calc(20 * var(--basic-size));
}
main section.chapter.chapter4 .title {
  top: calc(10 * var(--basic-size));
  left: calc(3 * var(--basic-size));
}
main section.chapter.chapter4 .title p {
  color: #000;
  font-family: var(--font-Pacifico);
  font-size: calc(3 * var(--sm-font-size));
  line-height: calc(3 * var(--sm-font-size));
}
main section.chapter.chapter4 .no {
  color: #000;
  font-family: var(--font-Libre-Bodoni);
  bottom: calc(-3 * var(--basic-size));
  right: calc(15 * var(--basic-size));
  font-size: calc(3 * var(--basic-size));
}
main section.chapter.chapter5 {
  margin-top: calc(10 * var(--basic-size));
}
main section.chapter.chapter5 article {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  padding-top: calc(12 * var(--basic-size));
}
main section.chapter.chapter5 .title {
  top: calc(0 * var(--basic-size));
  right: calc(2 * var(--basic-size));
}
main section.chapter.chapter5 .title p {
  color: #e2cc9a;
  font-family: var(--font-Pacifico);
  font-size: calc(3 * var(--sm-font-size));
  line-height: calc(3 * var(--sm-font-size));
}
main section.chapter.chapter5 .no {
  color: #e2cc9a;
  font-family: var(--font-Libre-Bodoni);
  bottom: calc(-5 * var(--basic-size));
  right: calc(28 * var(--basic-size));
  font-size: calc(3 * var(--sm-font-size));
}
main section.chapter.chapter6 {
  margin-top: calc(12 * var(--basic-size));
}
main section.chapter.chapter6 article {
  font-weight: calc(1.75 * var(--font-weight));
  font-family: var(--font-Lato);
  color: #2b5fcf;
}
main section.chapter.chapter6 .title {
  top: calc(-3 * var(--basic-size));
  left: calc(6 * var(--basic-size));
}
main section.chapter.chapter6 .title p {
  color: #b5b5b5;
  font-family: var(--font-Pacifico);
  font-size: calc(3 * var(--sm-font-size));
  line-height: calc(3 * var(--sm-font-size));
}
main section.chapter.chapter6 .no {
  color: #cacaca;
  font-family: var(--font-Libre-Bodoni);
  bottom: calc(-4 * var(--basic-size));
  left: calc(5 * var(--basic-size));
  font-size: calc(3 * var(--sm-font-size));
}
main ul.sections {
  margin-top: calc(5 * var(--basic-size));
  padding: 0 calc(2 * var(--basic-size));
  display: flex;
  flex-wrap: wrap;
}
main ul.sections li {
  display: flex;
  align-items: center;
  width: 50%;
  flex-shrink: 0;
  padding: calc(2 * var(--basic-size)) 0;
}
main ul.sections li .left {
  margin-right: calc(1 * var(--basic-size));
  display: flex;
  align-items: center;
  flex-direction: column;
}
main ul.sections li .left .circle {
  width: calc(2 * var(--basic-size));
  height: calc(2 * var(--basic-size));
  border-radius: calc(1 * var(--basic-size));
  border: 2px solid;
  margin-left: calc(1 * var(--basic-size));
}
main ul.sections li .left i {
  display: inline-block;
  margin-top: calc(2 * var(--basic-size));
  font-size: calc(2 * var(--sm-font-size));
  line-height: calc(2 * var(--sm-font-size));
}
main ul.sections li a {
  font-family: var(--font-Roboto);
  font-weight: calc(1.75 * var(--font-weight));
  font-size: calc(1.5 * var(--sm-font-size));
  line-height: calc(2 * var(--sm-font-size));
  text-transform: uppercase;
}
main ul.sections li a:hover {
  text-decoration: none;
}
main ul.sections li a:hover {
  text-decoration: underline;
}
main footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: calc(6 * var(--basic-size));
  padding: 0 calc(2 * var(--basic-size));
}
main footer .block {
  background: #157a68;
  margin-right: calc(3 * var(--basic-size));
  width: calc(1.5 * var(--basic-size));
  height: calc(1.5 * var(--basic-size));
}
main footer a {
  font-size: calc(2 * var(--basic-size));
}
main footer a:hover {
  text-decoration: none;
}

/* --768px --*/
@media screen and (min-width: 768px) {
  :root {
    --md-font-size: 16px;
  }
  main {
    max-width: calc(75 * var(--basic-size));
  }
  main header {
    padding: 0 calc(4 * var(--basic-size));
  }
  main header p {
    font-size: calc(1.5 * var(--md-font-size));
    line-height: calc(2 * var(--md-font-size));
  }
  main nav {
    padding-left: calc(5 * var(--basic-size));
    padding-right: calc(2.5 * var(--basic-size));
  }
  main nav .title h2 {
    font-size: calc(1.8 * var(--md-font-size));
    line-height: calc(2.2 * var(--md-font-size));
  }
  main nav .title h2.dot {
    transform: translateY(calc(-1 * var(--md-font-size)));
  }
  main nav .menus ul li {
    width: calc(13.5 * var(--basic-size));
    height: calc(4 * var(--basic-size));
  }
  main nav .menus ul li a {
    font-size: calc(1.8 * var(--md-font-size));
    line-height: calc(2.2 * var(--md-font-size));
  }
  main section.title {
    padding: 0 calc(4 * var(--basic-size));
  }
  main section.title p.publish {
    font-size: calc(1.25 * var(--md-font-size));
    line-height: calc(1.6 * var(--md-font-size));
  }
  main section.title p.author a {
    font-size: calc(1.25 * var(--md-font-size));
    line-height: calc(1.6 * var(--md-font-size));
  }
  main section.title p.left, main section.title p.right {
    font-size: calc(9.5 * var(--md-font-size));
    line-height: calc(8 * var(--md-font-size));
  }
  main section.chapters .head {
    font-size: calc(2.25 * var(--md-font-size));
    line-height: calc(2.5 * var(--md-font-size));
    padding: 0 calc(4 * var(--basic-size));
  }
  main section.chapter {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter1, main section.chapter.chapter2, main section.chapter.chapter3, main section.chapter.chapter4, main section.chapter.chapter5, main section.chapter.chapter6 {
    padding: 0 calc(4 * var(--basic-size));
  }
  main section.chapter.chapter1 article, main section.chapter.chapter2 article, main section.chapter.chapter3 article, main section.chapter.chapter4 article, main section.chapter.chapter5 article, main section.chapter.chapter6 article {
    width: 100%;
    font-size: calc(1.875 * var(--md-font-size));
    line-height: calc(2.25 * var(--md-font-size));
  }
  main section.chapter.chapter1 .title {
    top: calc(0 * var(--basic-size));
    right: calc(8 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter1 .title p {
    font-size: calc(5.5 * var(--md-font-size));
    line-height: calc(9.65 * var(--md-font-size));
  }
  main section.chapter.chapter1 .no {
    font-size: calc(6 * var(--md-font-size));
    bottom: calc(2 * var(--basic-size));
    right: calc(7 * var(--basic-size));
  }
  main section.chapter.chapter2 .title {
    left: calc(4 * var(--basic-size));
    top: calc(-10 * var(--basic-size));
  }
  main section.chapter.chapter2 .title p {
    font-size: calc(6.4 * var(--md-font-size));
    line-height: calc(10 * var(--md-font-size));
  }
  main section.chapter.chapter2 .no {
    font-size: calc(6 * var(--md-font-size));
  }
  main section.chapter.chapter3 .title p {
    font-size: calc(6 * var(--md-font-size));
    line-height: calc(6.5 * var(--md-font-size));
  }
  main section.chapter.chapter3 .no {
    font-size: calc(7 * var(--md-font-size));
  }
  main section.chapter.chapter4 {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter4 .title p {
    font-size: calc(4.5 * var(--md-font-size));
    line-height: calc(6 * var(--md-font-size));
  }
  main section.chapter.chapter4 .no {
    font-size: calc(5.5 * var(--md-font-size));
  }
  main section.chapter.chapter5 {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter5 .title p {
    font-size: calc(6 * var(--md-font-size));
    line-height: calc(10.5 * var(--md-font-size));
  }
  main section.chapter.chapter5 .no {
    font-size: calc(5.5 * var(--md-font-size));
  }
  main section.chapter.chapter6 {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter6 .title {
    top: calc(-6 * var(--basic-size));
    left: calc(6 * var(--basic-size));
  }
  main section.chapter.chapter6 .title p {
    font-size: calc(4 * var(--md-font-size));
    line-height: calc(5 * var(--md-font-size));
  }
  main section.chapter.chapter6 .no {
    font-size: calc(5.5 * var(--md-font-size));
    bottom: calc(-4 * var(--basic-size));
    right: calc(0 * var(--basic-size));
    text-align: right;
  }
  main ul.sections {
    padding: 0 calc(4 * var(--basic-size));
  }
  main ul.sections li {
    padding: calc(2 * var(--basic-size)) 0;
  }
  main ul.sections li .left {
    margin-right: calc(2 * var(--basic-size));
  }
  main ul.sections li .left i {
    font-size: calc(2 * var(--md-font-size));
    line-height: calc(2 * var(--md-font-size));
  }
  main ul.sections li a {
    font-size: calc(2 * var(--md-font-size));
    line-height: calc(2.25 * var(--md-font-size));
  }
  main footer {
    padding: 0;
  }
  main footer .block {
    width: calc(3 * var(--basic-size));
    height: calc(3 * var(--basic-size));
  }
  main footer a {
    font-size: calc(2.7 * var(--basic-size));
  }
}
/* 992px */
@media screen and (min-width: 992px) {
  :root {
    --lg-font-size: 18px;
  }
  main {
    max-width: calc(95 * var(--basic-size));
  }
  main header {
    padding: 0 calc(5 * var(--basic-size));
  }
  main header p {
    font-size: calc(2 * var(--lg-font-size));
    line-height: calc(2.5 * var(--lg-font-size));
  }
  main nav {
    padding-left: calc(5 * var(--basic-size));
    padding-right: calc(2.5 * var(--basic-size));
  }
  main nav .title h2 {
    font-size: calc(1.8 * var(--lg-font-size));
    line-height: calc(2.2 * var(--lg-font-size));
  }
  main nav .title h2.dot {
    transform: translateY(calc(-1 * var(--lg-font-size)));
  }
  main nav .menus ul li {
    width: calc(13.5 * var(--basic-size));
    height: calc(4 * var(--basic-size));
  }
  main nav .menus ul li a {
    font-size: calc(1.8 * var(--lg-font-size));
    line-height: calc(2.2 * var(--lg-font-size));
  }
  main section.title {
    padding: 0 calc(4 * var(--basic-size));
  }
  main section.title p.publish {
    font-size: calc(1.25 * var(--lg-font-size));
    line-height: calc(1.6 * var(--lg-font-size));
  }
  main section.title p.author a {
    font-size: calc(1.25 * var(--lg-font-size));
    line-height: calc(1.6 * var(--lg-font-size));
  }
  main section.title p.left, main section.title p.right {
    font-size: calc(9.5 * var(--lg-font-size));
    line-height: calc(8 * var(--lg-font-size));
  }
  main section.chapters .head {
    font-size: calc(2.25 * var(--lg-font-size));
    line-height: calc(2.5 * var(--lg-font-size));
    padding: 0 calc(4 * var(--basic-size));
  }
  main section.chapter {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter1, main section.chapter.chapter2, main section.chapter.chapter3, main section.chapter.chapter4, main section.chapter.chapter5, main section.chapter.chapter6 {
    padding: 0 calc(4 * var(--basic-size));
  }
  main section.chapter.chapter1 article, main section.chapter.chapter2 article, main section.chapter.chapter3 article, main section.chapter.chapter4 article, main section.chapter.chapter5 article, main section.chapter.chapter6 article {
    width: 100%;
    font-size: calc(1.875 * var(--lg-font-size));
    line-height: calc(2.25 * var(--lg-font-size));
  }
  main section.chapter.chapter1 .title {
    top: calc(0 * var(--basic-size));
    right: calc(8 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter1 .title p {
    font-size: calc(5.5 * var(--lg-font-size));
    line-height: calc(9.65 * var(--lg-font-size));
  }
  main section.chapter.chapter1 .no {
    font-size: calc(6 * var(--lg-font-size));
    bottom: calc(2 * var(--basic-size));
    right: calc(7 * var(--basic-size));
  }
  main section.chapter.chapter2 .title {
    left: calc(4 * var(--basic-size));
    top: calc(-10 * var(--basic-size));
  }
  main section.chapter.chapter2 .title p {
    font-size: calc(6.4 * var(--lg-font-size));
    line-height: calc(10 * var(--lg-font-size));
  }
  main section.chapter.chapter2 .no {
    font-size: calc(6 * var(--lg-font-size));
  }
  main section.chapter.chapter3 .title p {
    font-size: calc(6 * var(--lg-font-size));
    line-height: calc(6.5 * var(--lg-font-size));
  }
  main section.chapter.chapter3 .no {
    font-size: calc(7 * var(--lg-font-size));
  }
  main section.chapter.chapter4 {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter4 .title p {
    font-size: calc(4.5 * var(--lg-font-size));
    line-height: calc(6 * var(--lg-font-size));
  }
  main section.chapter.chapter4 .no {
    font-size: calc(5.5 * var(--lg-font-size));
  }
  main section.chapter.chapter5 {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter5 .title p {
    font-size: calc(6 * var(--lg-font-size));
    line-height: calc(10.5 * var(--lg-font-size));
  }
  main section.chapter.chapter5 .no {
    font-size: calc(5.5 * var(--lg-font-size));
  }
  main section.chapter.chapter6 {
    margin-top: calc(20 * var(--basic-size));
  }
  main section.chapter.chapter6 .title {
    top: calc(-6 * var(--basic-size));
    left: calc(6 * var(--basic-size));
  }
  main section.chapter.chapter6 .title p {
    font-size: calc(4 * var(--lg-font-size));
    line-height: calc(5 * var(--lg-font-size));
  }
  main section.chapter.chapter6 .no {
    font-size: calc(5.5 * var(--lg-font-size));
    bottom: calc(-4 * var(--basic-size));
    right: calc(0 * var(--basic-size));
    text-align: right;
  }
  main ul.sections {
    padding: 0 calc(4 * var(--basic-size));
  }
  main ul.sections li {
    padding: calc(2 * var(--basic-size)) 0;
  }
  main ul.sections li .left {
    margin-right: calc(2 * var(--basic-size));
  }
  main ul.sections li .left i {
    font-size: calc(2 * var(--lg-font-size));
    line-height: calc(2 * var(--lg-font-size));
  }
  main ul.sections li a {
    font-size: calc(2 * var(--lg-font-size));
    line-height: calc(2.25 * var(--lg-font-size));
  }
}
/* --1280 px-- */
@media screen and (min-width: 1280px) {
  :root {
    --xl-font-size: 20px;
  }
  main {
    max-width: calc(128 * var(--basic-size));
  }
  main header {
    padding: 0 calc(10 * var(--basic-size));
  }
  main nav {
    padding-left: calc(10 * var(--basic-size));
    padding-right: calc(5 * var(--basic-size));
  }
  main nav .title h2 {
    font-size: calc(1.8 * var(--xl-font-size));
    line-height: calc(2.2 * var(--xl-font-size));
  }
  main nav .title h2.dot {
    transform: translateY(calc(-1 * var(--xl-font-size)));
  }
  main nav .menus ul li {
    width: calc(13.5 * var(--basic-size));
    height: calc(4 * var(--basic-size));
  }
  main nav .menus ul li a {
    font-size: calc(1.8 * var(--xl-font-size));
    line-height: calc(2.2 * var(--xl-font-size));
  }
  main section.title {
    padding: 0 calc(10 * var(--basic-size));
  }
  main section.title p.publish {
    font-size: calc(1.25 * var(--xl-font-size));
    line-height: calc(1.6 * var(--xl-font-size));
  }
  main section.title p.author a {
    font-size: calc(1.25 * var(--xl-font-size));
    line-height: calc(1.6 * var(--xl-font-size));
  }
  main section.title p.left, main section.title p.right {
    font-size: calc(9.5 * var(--xl-font-size));
    line-height: calc(8 * var(--xl-font-size));
  }
  main section.chapters .head {
    font-size: calc(2.25 * var(--xl-font-size));
    line-height: calc(2.5 * var(--xl-font-size));
    padding: 0 calc(10 * var(--basic-size));
  }
  main section.chapter {
    margin-top: calc(30 * var(--basic-size));
  }
  main section.chapter.chapter1 {
    margin-left: calc(12.8 * var(--basic-size));
  }
  main section.chapter.chapter1 article {
    width: 709px;
    font-size: calc(1.875 * var(--xl-font-size));
    line-height: calc(2.25 * var(--xl-font-size));
  }
  main section.chapter.chapter1 .title {
    top: calc(-2 * var(--basic-size));
    right: calc(8 * var(--basic-size));
    width: initial;
  }
  main section.chapter.chapter1 .title p {
    font-size: calc(5.5 * var(--xl-font-size));
    line-height: calc(9.65 * var(--xl-font-size));
  }
  main section.chapter.chapter1 .no {
    font-size: calc(6 * var(--xl-font-size));
    bottom: calc(10.5 * var(--basic-size));
    right: calc(7 * var(--basic-size));
  }
  main section.chapter.chapter2 {
    margin-left: calc(12.8 * var(--basic-size));
  }
  main section.chapter.chapter2 article {
    font-size: calc(1.25 * var(--xl-font-size));
    line-height: calc(1.5 * var(--xl-font-size));
  }
  main section.chapter.chapter2 .title p {
    font-size: calc(6.4 * var(--xl-font-size));
    line-height: calc(10 * var(--xl-font-size));
  }
  main section.chapter.chapter2 .no {
    font-size: calc(6 * var(--xl-font-size));
  }
  main section.chapter.chapter3 {
    margin-left: calc(12.8 * var(--basic-size));
  }
  main section.chapter.chapter3 article {
    font-size: calc(1.25 * var(--xl-font-size));
    line-height: calc(1.5 * var(--xl-font-size));
  }
  main section.chapter.chapter3 .title p {
    font-size: calc(6 * var(--xl-font-size));
    line-height: calc(6.5 * var(--xl-font-size));
  }
  main section.chapter.chapter3 .no {
    font-size: calc(7 * var(--xl-font-size));
  }
  main section.chapter.chapter4 {
    margin-left: calc(25.6 * var(--basic-size));
    margin-top: calc(50 * var(--basic-size));
  }
  main section.chapter.chapter4 article {
    width: 899px;
    font-size: calc(1.25 * var(--xl-font-size));
    line-height: calc(1.5 * var(--xl-font-size));
  }
  main section.chapter.chapter4 .title p {
    font-size: calc(4.5 * var(--xl-font-size));
    line-height: calc(6 * var(--xl-font-size));
  }
  main section.chapter.chapter4 .no {
    font-size: calc(5.5 * var(--xl-font-size));
  }
  main section.chapter.chapter5 {
    margin-left: calc(12.8 * var(--basic-size));
    margin-top: calc(50 * var(--basic-size));
  }
  main section.chapter.chapter5 article {
    width: 768px;
    font-size: calc(1.25 * var(--xl-font-size));
    line-height: calc(1.5 * var(--xl-font-size));
  }
  main section.chapter.chapter5 .title p {
    font-size: calc(6 * var(--xl-font-size));
    line-height: calc(10.5 * var(--xl-font-size));
  }
  main section.chapter.chapter5 .no {
    font-size: calc(5.5 * var(--xl-font-size));
  }
  main section.chapter.chapter6 {
    margin-left: calc(38.6 * var(--basic-size));
    margin-top: calc(50 * var(--basic-size));
  }
  main section.chapter.chapter6 article {
    width: 768px;
    font-size: calc(1.25 * var(--xl-font-size));
    line-height: calc(1.5 * var(--xl-font-size));
  }
  main section.chapter.chapter6 .title p {
    font-size: calc(4 * var(--xl-font-size));
    line-height: calc(5 * var(--xl-font-size));
  }
  main section.chapter.chapter6 .no {
    font-size: calc(5.5 * var(--xl-font-size));
  }
  main ul.sections {
    padding: 0 calc(10 * var(--basic-size));
  }
  main ul.sections li {
    padding: calc(2 * var(--basic-size)) 0;
  }
  main ul.sections li .left {
    margin-right: calc(2 * var(--basic-size));
  }
  main ul.sections li .left i {
    font-size: calc(2 * var(--xl-font-size));
    line-height: calc(2 * var(--xl-font-size));
  }
  main ul.sections li a {
    font-size: calc(2 * var(--xl-font-size));
    line-height: calc(2.25 * var(--xl-font-size));
  }
}